/* div {
  border: 1px solid salmon;
} */

.deserto.dia {
  width: 500px;
  height: 150px;
  position: relative;
  margin: 0 auto;
}

.deserto.noite {
  width: 500px;
  height: 150px;
  position: relative;
  margin: 0 auto;
  background-color: black;
}
.chao {
  width: 500px;
  height: 16px;
  background-image: url(sprites.png);
  background-position-y: -53px;
  position: absolute;
  bottom: 0px;
}

.dino {
  width: 45px;
  height: 45px;
  background-image: url(sprites.png);
  background-position-y: -3px;
  background-position-x: -766px;
  position: absolute;
  z-index: 40;
}

.nuvem {
  width: 47px;
  height: 17px;
  background-image: url(sprites.png);
  background-position: -86px 2px;
  position: absolute;
  z-index: 1;
}

.cacto {
  width: 20px;
  height: 45px;
  background-image: url(sprites.png);
  background-position-x: -226px;
  position: absolute;
  bottom: 2.6px;
  z-index: 10;
}

.pterossauro.fechado {
  width: 41px;
  height: 30px;
  background-image: url(sprites.png);
  background-position-y: -5px;
  background-position-x: -136px;
  position: absolute;
  z-index: 10;
}

.pterossauro.aberto {
  width: 45px;
  height: 25px;
  background-image: url(sprites.png);
  background-position-y: -5px;
  background-position-x: -182px;
  position: absolute;
  z-index: 10;
}

.gameover.label {
  width: 195px;
  height: 15px;
  background-position-x: 722px;
  background-position-y: -14px;
  background-image: url(sprites.png);
  margin: 0 auto;
  margin-top: 30px;
  display: none;
  z-index: 999999;
  background-color: white;
}

.gameover.button {
  width: 39px;
  height: 35px;
  margin: 0 auto;
  background-image: url(sprites.png);
  margin: 0 auto;
  display: none;
  z-index: 999999;
}

.gameover.button:hover {
  cursor: pointer;
}

.placar.wrapper {
  width: 100px;
  height: 20px;
  right: 0px;
  position: absolute;
  top: 0px;
  background-color: white;
}

.placar.digito0 {
  display: inline-block;
  width: 11px;
  height: 14px;
  margin: 0 1px;
  background-position-x: -482px;
  background-image: url(sprites.png);
}

.placar.digito1 {
  display: inline-block;
  width: 11px;
  height: 14px;
  margin: 0 1px;
  background-position-x: -493px;
  background-image: url(sprites.png);
}

.placar.digito2 {
  display: inline-block;
  width: 11px;
  height: 14px;
  margin: 0 1px;
  background-position-x: -503px;
  background-image: url(sprites.png);
}

.placar.digito3 {
  display: inline-block;
  width: 11px;
  height: 14px;
  margin: 0 1px;
  background-position-x: -514px;
  background-image: url(sprites.png);
}

.placar.digito4 {
  display: inline-block;
  width: 11px;
  height: 14px;
  margin: 0 1px;
  background-position-x: -523px;
  background-image: url(sprites.png);
}

.placar.digito5 {
  display: inline-block;
  width: 11px;
  height: 14px;
  margin: 0 1px;
  background-position-x: -533px;
  background-image: url(sprites.png);
}

.placar.digito6 {
  display: inline-block;
  width: 11px;
  height: 14px;
  margin: 0 1px;
  background-position-x: -543px;
  background-image: url(sprites.png);
}

.placar.digito7 {
  display: inline-block;
  width: 11px;
  height: 14px;
  margin: 0 1px;
  background-position-x: -553px;
  background-image: url(sprites.png);
}

.placar.digito8 {
  display: inline-block;
  width: 11px;
  height: 14px;
  margin: 0 1px;
  background-position-x: -563px;
  background-image: url(sprites.png);
}

.placar.digito9 {
  display: inline-block;
  width: 11px;
  height: 14px;
  margin: 0 1px;
  background-position-x: -573px;
  background-image: url(sprites.png);
}